img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-color: #c6f7e1;
font-family: 'Roboto Slab', serif;
font-weight: 400;
color: #4a4a4a;
margin: 0;
padding: 0;;
}

h1, h2, h3 {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
}
h1 {
  text-shadow: 1px 1px 1px #000;
}
p {
  line-height: 1.5;
}
.container {
  /*background-color: #fff;*/
  max-width: 900px;
  margin: 0 auto;
}
header {
  /*background-color: #d47869;*/
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  color: #e6b909;
}
aside {
  width: 200px;
  float: right;
  background-color: #c9ed8a;
  padding: 10px;
  margin-top: 20px;
/* margin-right: 10px; */
  border-radius: 3px 20px;
}
article {
  margin-right: 250px;
  /* padding-left: 20px; */
}
footer {
  background-color: #cc5c48;
  clear: both;
  color: #fff;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
}

aside ul {

  margin-left: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-right: 0px;
  /*background-color: #552017;*/
}
nav li {
  display: inline;
  padding-right: 20px;
}

nav li a {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  text-decoration: none;
  color: #552017; 
}
nav li a:hover {
  text-decoration: none;
  color: #8ab7ba;
}

.logo {
  padding-top: 10px;
  /*padding-left: 20px;*/
  padding-bottom: 10px;
  padding-right: 20px;
  float: left;
}     

nav {
  float: right;
  margin-top: 35px;
}